.chat-box{

width:950px;

padding:25px;

border-radius:30px;

position:relative;

background:

rgba(12,12,25,.65);

backdrop-filter:blur(20px);

border:

1px solid rgba(255,255,255,.08);

box-shadow:

0 0 25px rgba(255,0,180,.12),
0 0 35px rgba(0,200,255,.08);

}

.chat-input{

width:100%;

background:transparent;

border:none;

outline:none;

color:white;

font-size:22px;

padding-bottom:20px;

}

.chat-input::placeholder{

color:#767b98;

}

.chat-tools{

display:flex;

gap:15px;

margin-top:10px;

}

.tool{

background:rgba(255,255,255,.04);

border:none;

padding:12px 18px;

border-radius:40px;

color:white;

cursor:pointer;

}

.active{

border:1px solid #b14dff;

box-shadow:0 0 15px rgba(177,77,255,.5);

}

.send-btn{

position:absolute;

right:25px;

bottom:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:linear-gradient(
90deg,
#8b5cf6,
#00d8ff
);

color:white;

font-size:22px;

cursor:pointer;

}