.cp-overlay{

position:fixed;
inset:0;

background:
rgba(0,0,0,.55);

display:flex;

align-items:flex-start;
justify-content:center;

padding-top:100px;

z-index:9999;

backdrop-filter:
blur(12px);

}

.cp-box{

width:650px;

border-radius:24px;

background:

rgba(
15,
16,
26,
0.95
);

border:

1px solid rgba(
255,
255,
255,
0.06
);

overflow:hidden;

box-shadow:

0 0 50px rgba(
99,
102,
241,
0.3
);

}

.cp-input{

width:100%;

padding:20px;

background:none;

border:none;

outline:none;

color:white;

font-size:18px;

}

.cp-list{

padding:10px;

}

.cp-item{

padding:14px;

border-radius:12px;

cursor:pointer;

transition:.25s;

}

.cp-item:hover{

background:

rgba(
99,
102,
241,
0.1
);

transform:
translateX(5px);

}