.floating-dock{

display:flex;

gap:18px;

padding:14px 22px;

border-radius:30px;

background:

rgba(
8,
10,
20,
.85
);

backdrop-filter:blur(25px);

border:

1px solid rgba(
255,
255,
255,
.06
);

}

.dock-item{

width:55px;
height:55px;

border-radius:16px;

display:flex;

align-items:center;

justify-content:center;

transition:.4s;

cursor:pointer;

}

.dock-item:hover{

transform:
translateY(-8px);

background:

rgba(
124,
58,
237,
.2
);

}