.shortcut-row{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}

.shortcut-card{

width:170px;

height:170px;

padding:20px;

border-radius:30px;

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

transition:.4s;

cursor:pointer;

}

.shortcut-card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(139,92,246,.5);

border-color:#8b5cf6;

}

.shortcut-icon{

font-size:30px;

margin-bottom:15px;

}

.shortcut-card h3{

margin:0;

font-size:24px;

}

.shortcut-card p{

margin-top:10px;

color:#9097b8;

}