.topbar{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

padding:10px 0;

}


/* left */

.chat-tab{

display:flex;

align-items:center;

gap:12px;

font-size:24px;

font-weight:600;

}


.red-dot{

width:10px;
height:10px;

border-radius:50%;

background:#ff4d6d;

box-shadow:

0 0 20px #ff4d6d;

}


/* right */

.top-actions{

display:flex;

align-items:center;

gap:15px;

}


.status-pill{

padding:12px 18px;

border-radius:999px;

background:

rgba(
0,
255,
100,
.08
);

border:

1px solid rgba(
0,
255,
100,
.15
);

color:#7dffaf;

font-size:14px;

}


.avatar{

width:45px;
height:45px;

border-radius:50%;

border:

2px solid rgba(
255,
255,
255,
.1
);

box-shadow:

0 0 20px rgba(
0,
255,
255,
.15
);

cursor:pointer;

transition:.35s;

}

.avatar:hover{

transform:scale(1.08);

}